<footer>
  <div class="container">
    <div class="footer-container">
      <div class="footer-info">
       <div class="footer-logo-wrap">
          <a href="../index.html" class="footer-logo-svg">
            <svg class="footer-cvg footer-svg-logo" width="16" height="16">
              <use href="./img/icons.svg#icon-logo"></use>
            </svg>
            <svg class="footer-cvg footer-svg-text" width="146" height="12">
              <use href="./img/icons.svg#icon-logo-text"></use>
            </svg>
          </a>
       </div>
        <p class="footer-logo-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-navigate">
        <!-- Тут мають бути посилання якора -->
        <ul class="footer-navigate-list">
          <li class="footer-item">
            <a href="#" class="footer-item-link">how it works</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-item-link">vegetables</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-item-link"></a>reviews
          </li>
        </ul>
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <a
              href="tel:+380684439426"
              target="_blank"
              class="footer-address-link"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-address-item">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-additionally">
      <div class="footer-additionally-wrap1">
        <a href="#" class="footer-additionally-link">Privacy Policy</a>
        <p class="footer-additionally-link">/</p>
        <a href="#" class="footer-additionally-link">Cookie settings</a>
      </div>
      <div class="footer-additionally-wrap2"><p class="footer-additionally-text">&copy;Green Harvest 2023</p></div>
    </div>
  </div>
</footer>
