<header>
  <div class="container">
    <a href="../index.html" class="header-logo">
      <svg class="logo-icone-one">
        <use></use>
      </svg>
      <svg class="logo-icon-two">
        <use></use>
      </svg>
    </a>
    <button type="button" class="open-menu-btn">
      <svg class="open-btn-icon">
        <use></use>
      </svg>
    </button>
    <div>
      <button type="button" class="close-menu-btn">
        <svg class="close-btn-icon">
          <use></use>
        </svg>
      </button>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="">How It Works</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Vegetables</a>
        </li>
        <li class="header-item"><a class="header-link" href="">Reviews</a></li>
      </ul>
      <button type="button" class="btn-shop">Shop now</button>
    </div>
  </div>
</header>
