<section class="hero">
  <div class="container container-flex">
    <div class="tex-container">
      <h1 class="hero-title">organic vegetables to your diet today!</h1>
      <p class="hero-text">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
    <div class="hero-image-containet">
      <picture class="hero-image">
        <source srcset="/src/img/hero/Desktop/image-desktop-min.jpg x1, /src/img/hero/Desktop/image-desktop-x2-min.jpg x2">
        <img src="../img/hero/Desktop/image-desktop-min.jpg" alt="frukty" class="hero-img"></source>
      </picture>
    </div>
  </div>
</section>
