<section id="how-it-works" class="how-it-works">
  <div class="container desktop-wrap">
    <h2 class="visually-hidden">Easy steps</h2>
    <div class="top-wrap">
      <picture>
        <source
          srcset="
            ./img/how-it-works/desktop-2x-min.png 2x,
            ./img/how-it-works/desktop-1x-min.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/how-it-works/tab-2x-min.png 2x,
            ./img/how-it-works/tab-1x-min.png 1x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/how-it-works/mob-2x-min.png 2x,
            ./img/how-it-works/mob-1x-min.png 1x
          "
          media="(min-width: 375px)"
        />
        <img
          class="woman-cooks-image"
          src="./img/how-it-works/mob-1x-min.png"
          alt="Woman cooks"
          width="640"
          height="640"
        />
      </picture>
    </div>
    <div class="steps-wrap">
      <h3 class="follow-steps">
        To order your <span class="green-heading">vegetable</span> basket,
        simply follow these <span class="green-heading">easy steps</span>
      </h3>
      <p class="follow-steps-description">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="step-list">
        <li class="step-item">
          <p class="step-item-description">
            Just choose
            <span class="step-description-bold">the vegetable</span> you want to
            order by clicking on the checkboxes
            <span class="step-description-bold">next to it</span>.
          </p>
        </li>
        <li class="step-item">
          <p class="step-item-description">
            Click on <span class="step-description-bold">the basket</span> and
            fill out the form.
          </p>
        </li>
        <li class="step-item">
          <p class="step-item-description">
            Sit back and relax! Your
            <span class="step-description-bold">fresh vegetables</span> basket
            will be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
