<section id="veegetables" class="vegetables">
  <div class="container">
    <h2 class="vegetables-title">
      organic <span class="vegetables-part-title">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">eggplant</h3>
        <p class="vegetable-list-text">60 UAH / kg</p>
        <img
          srcset="./img/vegetables/vegetablees-image-1-2x-min.png"
          src="./img/vegetables/vegetablees-image-1-1x-min.png"
          alt="eggplant"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>

      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">leek</h3>
        <p class="vegetable-list-text">50 UAH / kg</p>
        <img
          srcset="./img/vegetables/vegetables-image-2-2x-min.png"
          src="./img/vegetables/vegetables-image-2-1x-min.png"
          alt="eggplant"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>

      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">mushrooms</h3>
        <p class="vegetable-list-text">40 UAH / kg</p>
        <img
          srcset="./img/vegetables/vegetables-image-3-2x-min.png"
          src="./img/vegetables/vegetables-image-3-1x-min.png"
          alt="eggplant"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>

      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">corn</h3>
        <p class="vegetable-list-text">60 UAH / kg</p>
        <img
          srcset="./img/vegetables/vegetables-image-4-2x-min.png"
          src="./img/vegetables/vegetables-image-4-1x-min.png"
          alt="eggplant"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>

      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">sweet potatoes</h3>
        <p class="vegetable-list-text">50 UAH / kg</p>
        <img
          srcset="./img/vegetables/vegetables-image-5-2x-min.png"
          src="./img/vegetables/vegetables-image-5-1x-min.png"
          alt="eggplant"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>

      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">carrot</h3>
        <p class="vegetable-list-text">40 UAH / kg</p>
        <img
          srcset="./img/vegetables/vegetables-image-6-2x-min.png"
          src="./img/vegetables/vegetables-image-6-1x-min.png"
          alt="eggplant"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
    </ul>
  </div>
</section>
