<section class="your-order">
  <div class="container">
    <div class="your-order-inform">
      <h2 class="your-order-title">
        Fresh <span class="your-order-title-part">Harvest</span> Box has got you
        covered
      </h2>
      <p class="your-order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="your-order-double">
      <div class="your-order-block">
        <form class="your-order-form">
          <p class="your-order-form-text">
            Ordering <span class="your-order-form-firstpart">from us</span> is
            quick and easy! Fill out
            <span class="your-order-form-scndpart">the form</span>
            below and we will contact you !
          </p>
          <div class="your-order-form-field">
            <input
              type="text"
              name="user-name"
              class="your-order-form-input"
              placeholder="Full Name"
              required
            />

            <input
              type="email"
              name="form-email"
              placeholder="Email"
              class="your-order-form-input-mail"
              required
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            />
            <p class="text-valid">Succes!</p>
            <p class="text-invalid">Invalid email, try again</p>
          </div>
          <div class="your-order-form-end">
            <textarea
              name="user-comment"
              placeholder="Comment"
              class="your-order-form-comment"
            ></textarea>
            <button type="submit" class="your-order-form-btn">Send</button>
          </div>
        </form>
      </div>
      <div class="your-order-social">
        <div class="your-order-social-fresh"></div>

        <div class="your-order-social-media">
          <p class="your-order-social-text">
            Follow us on our social networks:
          </p>
          <ul class="your-order-social-media-list">
            <li class="your-order-social-media-item">
              <a
                class="your-order-social-media-link"
                rel="noopener noreferrer nofollow"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
              >
                instagram
              </a>
            </li>
            <p class="your-order-social-media-separ">/</p>
            <li class="your-order-social-media-item">
              <a
                class="your-order-social-media-link"
                rel="noopener noreferrer nofollow"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                >facebook
              </a>
            </li>
            <p class="your-order-social-media-separ">/</p>
            <li class="your-order-social-media-item">
              <a
                class="your-order-social-media-link"
                rel="noopener noreferrer nofollow"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                >youtube
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
