.advertisement {
  background-color: #FBFBFB; 
  padding-top: 80px;
  padding-bottom: 80px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advertisement-text{
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    text-align: left;
    min-width: 335px;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.advertisement-span{
    position: relative;
    left: -10px;
    min-width: 335px;
    display: inline-block;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    background-image: url(../img/advertisement/mobadvx1.jpg);
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
  .advertisement-span{
    background-image: url(../img/advertisement/mobadvx2.jpg);
  }
} 

/* =================================TAB================================================== */

@media screen and (min-width: 768px){

  .advertisement{
    padding-top: 100px;
    padding-bottom: 100px;
  
  }

.advertisement-text{
  font-size: 64px;
  max-width: 704px;
  text-align: left;
}

.advertisement-span{
  font-size: 64px;
  background-image: url(../img/advertisement/tabadvx1.jpg);
  position: relative;
  left: -10px;
  min-width: 736px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .advertisement-span {
    background-image: url(../img/advertisement/tabadvx2.jpg);
  }

}
}


/* =================================DESKTOP================================================== */

@media screen and (min-width:1280px){

.advertisement {
  
  }

.advertisement-text{
  font-size: 76px;
  min-width: 1054px;
  /* text-align: left; */
  
}

.advertisement-span{
  display: inline-block;
  position: relative;
  left: -10px;
  width: 825px;
  font-size: 76px;  
  background-image: url(../img/advertisement/deskadvx1.jpg);
  padding-left: 13px;
  padding-right: 13px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .advertisement-span {
    background-image: url(../img/advertisement/deskadvx2.jpg);
  }

}
}


/* =========================VARIANT 2======================================== */

/* .advertisement-text{
  font-weight: 600;
    font-size: 48px;
    line-height: 104%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    text-align: start;
    max-width: 335px;
    /* padding-left: 10px;
    padding-right: 10px; 
}

.advertisement-span{
    display: inline-block;
    font-weight: 600;
    font-size: 48px;
    line-height: 104%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    background-color: #576F35;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;

}

/* ======================TAB============================== */

/* @media screen and (min-width: 768px) {

  .advertisement {
    padding: 100px 16px;
  }

  .advertisement-text {
    font-size: 64px;
    max-width: 704px;
    padding: 100px 16px;
  }

  .advertisement-span {
    font-size: 64px;
  }
} */

/* ====================DESKTOP====================================== */

/* @media screen and (min-width:1280px) {

  .advertisement {
    padding: 100px 113px;
  }

  .advertisement-text {
    font-size: 76px;
    max-width: 1054px;

  }

  .advertisement-span {
    display: inline-block;
    font-size: 76px;}

  }
  */
