.hero {
  display: flex;
  max-width: 375px;

  height: 100vh;
  padding: 100px 0px 0px 0px;


  height: 712px;
  background: url(../img/hero/tel/image-tel-min.jpg) no-repeat #576f35;
  background-position: center bottom;
}


/* 
.container-text {
  max-width: 335px;
  height: 302px;


  display: flex;
  flex-direction: column;

  padding: 20px;

} */

.hero-title {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
  text-align: left;

}

.hero-text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  text-align: left;

  max-width: 335px;
}



@media screen and (min-width: 768px) {
  .hero {

    padding: 122px 0px 0px 0px;
    max-width: 768px;
    height: 902px;
    background: url(../img/hero/tab/image-tab-min.jpg) no-repeat #576f35;
    background-position: center bottom;
  }

  .container-text {
    width: 704px;
    height: 313px;
  }

  .hero-title {
    /* max-width: 704px; */
    font-size: 76px;
    line-height: 1;
    letter-spacing: -0.01em;
    margin-bottom: 25px;
  }

  .hero-text {
    max-width: 603px;
    font-size: 16px;
    line-height: 1.25;

  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppi) {
    .hero {
      padding: 122px 0px 0px 0px;
      height: 902px;
      background: url(../img/hero/tab/image-tab-x2-min.jpg) no-repeat #576f35;
      background-position: center bottom;
    }
  }
}

@media screen and (min-width: 1280px) {


  .hero {


    padding: 0px 0px 0px 100px;
    max-width: 1280px;
    height: 800px;
    background: url(../img/hero/Desktop/image-desktop-min.jpg) no-repeat #576f35;
    /* background: linear-gradient(url(../img/hero/Desktop/image-desktop-min.jpg) 0 50%, #576f35 50% 100%); */
    background-position: top right;
  }


  .hero-title {

    max-width: 704px;
    font-size: 76px;
    line-height: 1;
    letter-spacing: -0.01em;
    margin-right: 100px;
    margin-left: 28px;
  }

  .hero-text {
    max-width: 603px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppi) {
    .hero {
      padding: 0px 0px 0px 100px;
      width: 1280px;
      height: 800px;
      background: url(../img/hero/Desktop/image-desktop-x2-min.jpg) no-repeat #576f35;
      background-position: top right;
    }
  }

}

