.reviews {
  padding-top: 80px;
  padding-bottom: 80px;
}

.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.reviews-title-item {
  color: #576f35;
}

.reviews-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 40px;
}

.reviews-list-wrap {
  padding: 20px 16px 38px 16px;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  text-align: center;
}

.reviews-list-item {
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
  width: 100%;
}

.reviews-list-item:nth-child(even) {
  display: none;
}

.reviews-list-item:last-child {
  display: none;
}

.reviews-image {
  margin: 0 auto;
  margin-bottom: 24px;
}

.reviews-list-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.reviews-list-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(20, 20, 20, 0.4);
  /* width: 288px; */
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .reviews-title-wrap {
    max-width: 553px;
  }

  .reviews-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 25px;
  }

  .reviews-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }

  .reviews-list-wrap {
    padding: 20px 20px 42px 20px;
  }

  .reviews-list-title {
    font-size: 18px;
    line-height: 1.1;
  }

  .reviews-list-text {
    font-size: 16px;
    line-height: 1.4;
    max-width: 288px;
  }

  .reviews-list {
    flex-wrap: nowrap;
  }

  .reviews-list-item {
    width: calc((100% - 18px) / 2);
  }

  .reviews-list-item:nth-child(even) {
    display: block;
  }

  .reviews-list-item:last-child {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .reviews-list {
    flex-wrap: nowrap;
  }

  .reviews-list-item {
    width: calc((100% - 25px * 2) / 3);
  }

  .reviews-list-item:last-child {
    display: block;
  }
}
