/*-----------MOBILE------------*/
.vegetables {
  background-color: #7a3145;
  padding-top: 80px;
  padding-bottom: 80px;
}

.vegetables-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  max-width: 335px;
  margin-bottom: 20px;
}

.vegetables-part-title {
  color: rgba(251, 251, 251, 0.3);
}

.vegetables-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  line-height: 1.28571;
  color: #fbfbfb;
  max-width: 335px;
  height: 90px;
  margin-bottom: 40px;
}

.vegetables-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.vegetables-list-item {
  background-color: #fbfbfb;
  border-radius: 40px;
  padding: 32px 26px;
  width: 100%;
}

.vegetables-list-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #7a3145;
  margin-bottom: 12px;
}

.vegetable-list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 14px;
}

/*-----------------------*/

/*-----------TABLET------------*/

@media screen and (min-width: 768px) {
  .vegetables {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .vegetables-title {
    font-size: 64px;
    line-height: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
    max-width: 508px;
    margin-bottom: 50px;
  }

  .vegetables-text {
    font-size: 16px;
    line-height: 20px;
    line-height: 1.25;
    color: #fbfbfb;
    max-width: 626px;
  }

  .vegetables-list {
    column-gap: 28px;
    row-gap: 20px;
  }

  .vegetables-list-item {
    padding: 32px 30px;
    width: calc((100% - 28px) / 2);
  }
}

/*-----------------------*/

/*----------DESCKTOP-------------*/

@media screen and (min-width: 1280px) {
  .vegetables-title {
    margin-bottom: 25px;
  }

  .vegetables-text {
    font-size: 16px;
  }

  .vegetables-list {
    row-gap: 21px;
  }

  .vegetables-list-item {
    padding: 32px 32px;
    width: calc((100% - 28px * 2) / 3);
  }
}
