.your-order {
  background-color: #7a3145;
  max-width: 100%;

  padding: 80px 0px;
}

.your-order-inform {
  width: 335px;
  margin-bottom: 40px;
}

.your-order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 29px;
}

.your-order-title-part {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: rgba(251, 251, 251, 0.3);
}

.your-order-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}

.your-order-block {
  width: 100%;
  margin-bottom: 40px;
}

.your-order-form {
  border-radius: 30px;
  padding: 40px 20px;
  width: 335px;
  background-color: #fbfbfb;
}

.your-order-form-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  width: 295px;
  padding-bottom: 40px;
}

.your-order-form-firstpart {
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
}

.your-order-form-scndpart {
  color: #576f35;
}

.your-order-form-field {
  width: 295px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.your-order-form-wrap {
}

.your-order-form-input {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  padding-left: 16px;
  width: 295px;
  height: 46px;
  outline: transparent;
}

.your-order-form-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #141414;
  padding: 14px 220px 14px 0px;
}

.your-order-form-input-mail {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-color: #141414;
  border-radius: 30px;
  padding-left: 16px;
  width: 295px;
  height: 46px;
  outline: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.your-order-form-input-mail:not(:placeholder-shown):invalid {
  border-color: red;
}

.your-order-form-input-mail:not(:placeholder-shown):valid {
  border-color: green;
}

.text-valid,
.text-invalid {
  font-size: 14px;
  padding-left: 20px;
  margin-top: 4px;
  display: none;
}

.text-valid {
  color: green;
}

.text-invalid {
  color: red;
}

.your-order-form-input-mail:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
}

.your-order-form-input-mail:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.your-order-form-input-mail::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #141414;
  padding: 14px 247px 14px 0px;
}

.your-order-form-input-mail:hover {
  border-color: #7a3145;
}

.your-order-form-input-mail:valid {
  border-color: #3cbc81;
}

.your-order-form-input-mail:invalid {
  border-color: #e74a3b;
}

.your-order-form-comment {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  padding: 14px 16px;
  width: 295px;
  height: 91px;

  resize: none;
  outline: transparent;
  margin-bottom: 20px;
}

.your-order-form-comment::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
}

.your-order-form-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  cursor: pointer;
  display: block;
  border-radius: 30px;
  padding: 16px 0px;
  min-width: 295px;
  height: 50px;
  background-color: #576f35;
}

.your-order-social {
  background-color: #576f35;
  border-radius: 30px;
  padding: 40px 20px;
  width: 335px;
  height: 465px;
}

.your-order-social-fresh {
  border-radius: 15px;
  max-width: 295px;
  height: 273px;
  border: none;

  background-image: linear-gradient(
      rgba(20, 20, 20, 0.3),
      rgba(20, 20, 20, 0.3)
    ),
    url(./img/your-order/mob-fresh-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .your-order-social-fresh {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.3),
        rgba(20, 20, 20, 0.3)
      ),
      url(./img/your-order/mob-fresh-2x.jpg);
  }
}

.your-order-social-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 14px;
}

.your-order-social-media {
  margin-top: 20px;
  max-width: 295px;
}

.your-order-social-media-list {
  max-width: 295px;
  height: 60px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.your-order-social-media-item {
}

.your-order-social-media-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.your-order-social-media-separ {
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
